/*@keyframes shake {
    from {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(5deg);
    }
}*/
/*@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }*/

  /*new animation for the components at the footer bar */
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }


  