/* setting margins, paddings, borders, and box-sizing for all elements */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    /* Setting the maximum width of the container to the full viewport width */
    max-width: 100vw;
    /* Preventing horizontal overflow in case the content exceeds the container width */
    overflow-x: hidden;
   
    
  }