

   
   .computer-section  {

        width:100%;

      
        /////display container////
        display: flex;
        flex-direction: column;
        padding-left: 20px;
       
        .img-display-itmes{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
           width:60%;
            margin: auto;
           //width: 100%;
           // margin-top: 5%;
           
        
          img{
            width: 40%;
            //padding-bottom: 2%; /* Same as width, sets height */
            margin-bottom: 5%; /* (100-32*3)/2 */
            margin-left: 3%;
            margin-right: 3%;
            margin-top: 3%;
            position: relative;
            border-radius: 10%;
            box-shadow: 5px 5px 15px 5px grey;
            transition: transform 0.4s;

            &:hover {
                transform: scale(1.4); // Increase the scale value to adjust the hover effect
                z-index: 1;
            }
         }
        
    






             @media screen and (max-width: 800px){
               .profile-me-img {
                 width:30%;
                }
    
    
           .img-display-itmes{

        

          //img:not(.profile-me-img):hover {
            img:hover {    
             transform: scale(1.4); //rotate(0.01deg);
             z-index: 1;
       
             }
    }
    }
   }
 }
